


<nav class="a">


  <div class="left">
    <h2>Wear&Share</h2>

    
      
    


  </div>


  <div class="right">
      

    <a class="l" routerLink="article">
      <i class="f fas fa-home"></i>  Home
    </a>

    <a class="l" href="">
      <i class="fas fa-info-circle"></i> About Us
    </a>

    
 
    <a class="l" href="">
      <i class="fa-solid fa-cart-shopping"></i>  Cart
    </a>

   

    

   
     
  </div>


    <li class="n nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="f fas fa-user"></i>Account
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><a class="dropdown-item" href="#">Sign In</a></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </li>


</nav>
 
<router-outlet></router-outlet>
